{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <!-- <h1>Did a puppy get adopted?</h1>
  <p>Fill out the form to remove the puppy from the list.</p> -->
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      {{ form.name.label }} {{ form.name() }}
      <br>
      {{ form.pno.label }} {{ form.pno() }}
      <br>
      {{ form.movie.label }} {{ form.movie() }}
      <br>
    
      {{ form.submit() }}
  </form>
</div>
{% endblock %}
